<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Detalhes do lançamento</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="addRelease()">
                            <div class="row">
                                <div class="col-md-12">
                                    <ng-select [items]="users"
                                        bindLabel="name"
                                        autofocus
                                        bindValue="id"
                                        placeholder="Nome do cliente">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID" value="#1234" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput prefix="R$ " mask="0*.00" placeholder="Valor">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="00/00/0000" placeholder="Data">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Descrição" value="Compras"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-primary pull-right">Adicionar lançamento</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>