<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-body">
                        <h2 class="card-title">Cliente</h2>
                        <a href="/registration/client" class="btn btn-primary btn-round">Cadastrar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-body">
                        <h2 class="card-title">Vendedor</h2>
                        <a href="/registration/salesman" class="btn btn-primary btn-round">Cadastrar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>