<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary" >
                        <h3 class="card-title">{{ user.Name }}</h3>
                        <p class="card-category">Selecione os lançamentos para realizar o pagamento</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th style="max-width: 5px; padding-left: 13px; padding-top: 0px">
                                    <div class="form-check" (change)="checkReleases($event)">
                                        <label class="form-check-label">
                                            <input [(checked)]="releases.length === checkedReleases.length" class="form-check-input" type="checkbox">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>ID</th>
                                <th>Valor</th>
                                <th>Data</th>
                                <th *ngIf="!isMobileMenu()">Descrição</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let release of releases">
                                    <th (change)="checkRelease($event, release)" style="max-width: 5px; padding-left: 13px; padding-top: 0px">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input [(checked)]="release.checked" class="form-check-input" type="checkbox">
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </th>
                                    <th style="max-width: 5px">
                                        {{ release.id }}
                                    </th>
                                    <th style="max-width: 5px">
                                        {{ release.value | currency: 'BRL': 'R$ '}}
                                    </th>
                                    <th style="max-width: 5px">
                                        {{ release.date | date: 'dd/MM/yyyy'}}
                                    </th>
                                    <th *ngIf="!isMobileMenu()" style="max-width: 200px">
                                        {{ release.description }}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="checkedReleases.length" class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-primary" >
                        <h2 class="card-title">Lançamentos</h2>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>ID</th>
                                <th>Valor</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let release of checkedReleases">
                                    <th style="max-width: 5px">
                                        {{ release.id }}
                                    </th>
                                    <th style="max-width: 5px">
                                        {{ release.value | currency: 'BRL': 'R$ '}}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">attach_money</i>
                                </div>
                                <p class="card-category">Sub-total</p>
                                <h3 class="card-title">
                                    <small>R$ </small>
                                    {{ sumValueCheckedReleases() | currency: 'BRL': '' }}
                                </h3>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header card-header-primary card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">list</i>
                                </div>
                                <p class="card-category">Quantidade</p>
                                <h3 class="card-title">
                                    {{ checkedReleases.length }}
                                </h3>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button class="btn btn-primary">Realizar pagamento</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>