<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Valor total</p>
                        <h3 class="card-title">
                            <small>R$ </small>
                            {{ totalValue | currency: 'BRL': '' }}
                        </h3>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">list</i>
                        </div>
                        <p class="card-category">Quantidade de lançamentos</p>
                        <h3 class="card-title">
                            {{ releases.length }}
                        </h3>
                        <br>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary" >
                        <h4 class="card-title">Lançamentos</h4>
                        <p class="card-category">{{ user.Name }}</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>ID</th>
                                <th>Valor</th>
                                <th>Data</th>
                                <th *ngIf="!isMobileMenu()">Descrição</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let release of releases">
                                    <th style="max-width: 5px">
                                        {{ release.id }}
                                    </th>
                                    <th style="max-width: 5px">
                                        {{ release.value | currency: 'BRL': 'R$ '}}
                                    </th>
                                    <th style="max-width: 5px">
                                        {{ release.date | date: 'dd/MM/yyyy'}}
                                    </th>
                                    <th *ngIf="!isMobileMenu()" style="max-width: 200px">
                                        {{ release.description }}
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- ngIf define a permissão -->
        <div *ngIf="true" class="row">
            <div class="col-md-12">
                <button mat-raised-button (click)="navigateToMakePayment()" class="btn btn-primary">Realizar pagamento</button>
            </div>
        </div>
    </div>
</div>