<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary" >
                        <h3 class="card-title">Clientes</h3>
                        <p class="card-category">Clique em um cliente para listar seus lançamentos...</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-primary">
                                <th>Nome</th>
                                <th *ngIf="!isMobileMenu()">Cpf</th>
                                <th>Total</th>
                                <th></th>
                            </thead>
                            <tbody *ngFor="let user of users">
                                <!-- Delete Client Modal -->
                                <div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h3 class="modal-title text-danger" id="exampleModalLabel">Atenção!</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Todos os lançamentos serão <span class="text-danger">excluidos</span> juntos com o cliente.</p>
                                            <p>Tem certeza que deseja excluir <span class="text-danger">{{ user.Name }}</span> ?</p>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteClient(user)">Excluir</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <tr>
                                    <td (click)="navigateToReleases(user)">{{ user.Name }}</td>
                                    <td (click)="navigateToReleases(user)" *ngIf="!isMobileMenu()">{{ user.CPF }}</td>
                                    <td (click)="navigateToReleases(user)" class="text-primary">{{ user.Value | currency:'BRL':'R$ '}}</td>
                                    <td class="td-actions text-right">
                                        <button (click)="navigateToUpdateClient(user)" mat-raised-button type="button" matTooltip="Editar cliente" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button (click)="showModalDeleteClient()" mat-raised-button type="button" matTooltip="Remover cliente" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>