
<form>

    <div class="main-content">
        <div class="container-fluid">

            <!-- Dados gerais -->
            <div class="row">
                <div class="col-md-11 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Dados gerais do cliente</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="ID" value="#123" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-11">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nome do cliente">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="!noLimitValue" class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput  prefix="R$ " mask="0*.00" placeholder="Valor limite">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input [checked]="noLimitValue" (change)="noLimitValue = !noLimitValue" class="form-check-input" type="checkbox" value="">
                                            Sem valor limite
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="!clientWithoutLogin" class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="000.000.000-00" placeholder="CPF">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input [checked]="clientWithoutLogin" (change)="clientWithoutLogin = !clientWithoutLogin" class="form-check-input" type="checkbox" value="">
                                            Cliente sem login
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dados adicionais -->
            <div *ngIf="clientWithoutLogin" class="row">
                <div class="col-md-11 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Dados adicionais (Opcional)</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="000.000.000-00" placeholder="CPF">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="00/00/0000" placeholder="Data de nascimento">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="(000) 00000-0000" placeholder="Telefone principal">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="(000) 00000-0000" placeholder="Telefone Secundário">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Endereço -->
            <div *ngIf="clientWithoutLogin" class="row">
                <div class="col-md-11 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Endereço (Opcional)</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="00000-000" placeholder="CEP">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Endereço">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput mask="0*" placeholder="Número">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Estado">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Cidade">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Bairro">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="editClient" class="row">
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <button mat-raised-button type="submit" class="btn btn-primary">Salvar alterações</button>
                </div>
            </div>

            <div *ngIf="!editClient" class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button mat-raised-button type="submit" class="btn btn-outline-primary">Cadastrar e adicionar outro</button>
                </div>
                <div class="col-md-3">
                    <button mat-raised-button type="submit" class="btn btn-primary">Cadastrar cliente</button>
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>
    </div>

</form>